button{
    background-color:#007bff;
    color:white;
    cursor:pointer;
    border:none;
}

button:hover{
    background-color:#0056b3;
}

body{
    font-family: "Georgia",serif;
    line-height:normal;
    color:black;
    background-color:lightblue
}

input,textarea,button{
    width:10%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid green;
    box-sizing:border-box;
}

input:focus,textarea:focus{
    border-color:#4a90e2;
    box-shadow:0 0 8px rgba(74,144,226,0.5);}

h1{
    font-size:48px;}

tabel.inventory{
    width:100%;
    border-collapse: collapse;
    border-color:#131111;
    background-color: pink;
    
}

table.inventory th
table.inventory td{
    border:1px solid #131111;
    padding:8px;
    text-align:left;
}

table.inventory tr:nth-child(even){
    background-color:#f2f2f2;
}

table.inventory tr:hover{
    background-color:blueviolet;
}

table.inventory th{
    background-color:chartreuse;
}